In [64]:
# !pip install isodate
import os
import string
import re
import googleapiclient.discovery
import googleapiclient.errors
import json
import pandas as pd
import numpy as np
import isodate
from dateutil import parser
import datetime as dt
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk import pos_tag
# nltk.download('stopwords')
# nltk.download('punkt')
from wordcloud import WordCloud
from nltk.stem import WordNetLemmatizer
# nltk.download('averaged_perceptron_tagger')
from nltk.corpus import wordnet

In [65]:
api_key = 'AIzaSyBoO6MSKPQ9baLdYL_CXnfHygBy_jf0nTg'
api_service_name = "youtube"
api_version = "v3"


#a list of data channels
data_coding_channel = {
# DS/DA
'Tina_Huang' : 'UC2UXDak6o7rBm23k3Vv5dww',
'Luke Barousse' : 'UCLLw7jmFsvfIVaUFsLs8mlQ',
'Thu Vu data analytics' : 'UCJQJAI7IjbLcpsjWdSzYz0Q',
'Alex The Analyst' : 'UC7cs8q-gJRlGwj4A8OmCmXg',
'Data Interview Pro' : 'UCAWsBMQY4KSuOuGODki-l7A',
# DE
'Andreas Kretz' : 'UCY8mzqqGwl5_bTpBY9qLMAA',
'Data with Zach' : 'UCAq9f7jFEA7Mtl3qOZy2h1A',
'Karolina Sowinska' : 'UCAxnMry1lETl47xQWABvH7g',
'E-Learning Bridge' : 'UCBGcs9XTL5U34oaSn_AsHqw',
'Seattle Data Guy' : 'UCmLGJ3VYBcfRaWbP6JLJcpA'}

youtube = googleapiclient.discovery.build(
    api_service_name, api_version, developerKey=api_key )

# print(json.dumps(response,indent=5))

In [66]:
def get_channel_info(youtube):
    request = youtube.channels().list(
    part="snippet,contentDetails,statistics",
    id=','.join(data_coding_channel[channel] for channel in data_coding_channel))
    response = request.execute()

    channel_data = []
    for channel in response['items']:
        channel_id = channel['id']
        channel_title = channel['snippet']['title']
        channel_description = channel['snippet']['description']
        channel_publish_at = channel['snippet']['publishedAt']
        channel_country = channel['snippet']['country']
        channel_view_count = channel['statistics']['viewCount']
        channel_subscriber_count = channel['statistics']['subscriberCount']
        channel_video_count = channel['statistics']['videoCount']
        channel_playlist_id = channel['contentDetails']['relatedPlaylists']['uploads']
        channel_element = {
            "channel_id" : channel_id,
            "channel_title" : channel_title,
            "channel_publish_at" : channel_publish_at,
            "channel_description" : channel_description,
            "channel_country" : channel_country, 
            "channel_view_count" : channel_view_count,
            "channel_subscriber_count" : channel_subscriber_count,
            "channel_video_count" : channel_video_count,
            'channel_playlist_id' :  channel_playlist_id }
        channel_data.append(channel_element)
    return pd.DataFrame(channel_data)

# get_channel_info(youtube)

In [67]:
# def get_playlist_data(youtube):
#     playlist_data = []
#     playlist_ids = get_channel_info(youtube)['channel_playlist_id'].tolist()
#     for playlist_id in playlist_ids:
#         request = youtube.playlistItems().list(
#         part="snippet,contentDetails",
#         maxResults = 50,
#         playlistId= playlist_id)
#         response = request.execute()
        
#         for playlist in response['items']:
#             playlist_id = playlist["snippet"]['playlistId']
#             video_id = playlist['contentDetails']["videoId"]
#             playlist_data.append([playlist_id, video_id])
    
#     return pd.DataFrame(playlist_data,columns= ['playlist_id','video_id'])

In [68]:
def get_playlist_info(youtube):
    playlist_df = pd.DataFrame()
    def get_individual_playlist_data(youtube, playlist_id):  
        request = youtube.playlistItems().list(
                            part="snippet,contentDetails",
                            maxResults = 50,
                            playlistId= playlist_id)
        response = request.execute()

        all_playlist_id = []
        all_video_id = []
        for playlist in response['items']:
            all_playlist_id.append(playlist["snippet"]['playlistId'])
            all_video_id.append(playlist['contentDetails']["videoId"])

        next_page_token = response.get('nextPageToken')
        more_pages = True

        while more_pages:
            if next_page_token is None:
                more_pages = False
            else:
                request = youtube.playlistItems().list(
                        part='snippet,contentDetails',
                        playlistId= playlist_id,
                        maxResults = 50,
                        pageToken = next_page_token)
                response = request.execute()

                for playlist in response['items']:
                    all_playlist_id.append(playlist["snippet"]['playlistId'])
                    all_video_id.append(playlist['contentDetails']["videoId"])
            
                next_page_token = response.get('nextPageToken')

        return pd.DataFrame({"playlist_id" : all_playlist_id, 
                            "video_id" : all_video_id})

    for playlist_id in get_channel_info(youtube)['channel_playlist_id'].tolist():
        playlist_df = playlist_df.append(get_individual_playlist_data(youtube, playlist_id))
    return playlist_df


# get_playlist_info(youtube)

In [69]:
def get_video_info(youtube):
    all_video = []
    video_ids = get_playlist_info(youtube)['video_id']
    for video_id in video_ids:
        request = youtube.videos().list(
                part="snippet,contentDetails,statistics",
                id= video_id
            )
        response = request.execute()
        for video in response['items']:
            stats = {'snippet' : ['publishedAt','title','description','tags'],
                    'statistics': ['viewCount','likeCount','favoriteCount','commentCount'],
                    'contentDetails': ['duration','definition','caption']}
            video_detail = {}
            video_detail['video_id'] = video['id']

            for stat in stats:
                for detail in stats[stat]:
                    try: 
                        video_detail[detail] = video[stat][detail]
                    except:
                        video_detail[detail] = None
            all_video.append(video_detail)

    return pd.DataFrame(all_video)


# get_video_info(youtube)

In [70]:

DS_DA = ['UC2UXDak6o7rBm23k3Vv5dww','UCLLw7jmFsvfIVaUFsLs8mlQ','UCJQJAI7IjbLcpsjWdSzYz0Q','UC7cs8q-gJRlGwj4A8OmCmXg','UCAWsBMQY4KSuOuGODki-l7A']
# stop_words.extend("I'm",'hello','')
def channel_data_processing(channel, category_list = DS_DA):
    numeric_cols = ['channel_view_count','channel_subscriber_count','channel_video_count']
    channel[numeric_cols] = channel[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)
    channel['channel_publish_at'] = channel['channel_publish_at'].apply(lambda x: parser.parse(x).date())
    channel['channel_category'] = channel['channel_id'].apply(lambda x: 'DS_DA' if x in category_list else 'DE') 
    channel['insert_date'] = pd.to_datetime("today").date()
    return channel

In [71]:
stop_words = stopwords.words('english')
stop_words.extend(["thank","what's up","time","thing","best","ask","about","get","vs","vs.","find","help","real","work","website","also","almost","as","any","blow","mind","choice",'content','effective','non','frequently','ever','learn','change','sunday','2020','2021',"2022","p0","p1","p2","p3","p4","air","p5","p6","late","truth","solve",
"full","different","world","word","next","minute","month","year","get","go","self","story","super","really","better","measure","what's,","start","over","successfully",'success','succeed','begin','start','good','fresh','course','tip','pro',"3rd","beautiful","bad","improve","step","must","previous","44","34","24","solve","instal",
"people","person","according","real","great","stay","sane","come","point","favorite","idea","choose","halo","make","used","week","start","write","based","base",'connect','v','realize','realistic','beginner','intermediate','advance','advanced',"near","close","funny","w","no info","install","everything",
"land","easily","smoothly","personal","cant","end","like","tell","every","everyone","all","most","more","easy","simple","guy","crack","role","position",'want','useful','new','important','watch','youtube','know','other','worth','part','from','wali','alex','wild','youll','yes','no','try','episode','top','way','yet','worker','from','without','do','to','single','page',
'pages','update','updates','would','dont','donts','wins','winning','boy','boys','zhai','need','use','uses','using','knows','woudnt','live','first','short','shorts','parts','other','others','knew','show','shows','topic','topics','how','talk','needs','went',"intuition","disappointment","massive","32","1799","buy","feel",
'zero','1','2','3','4','5','6','7','8','9','10','15','who','in','door','area','veronica','worse','worst','wish','wannable','wohhoo','worksdont','hero','single','free','whats','level','freshers','monthly','bi-weekly','yealy',"level","hard","easy","swing","sub","back","despite",
'difference','hour','per','stop','lazy','like','hate','dislike','love','still','one','five','ten','two','unique','temp','try','summer','winter','type','unique','rural','face','matter','york','value','void','avoid','who','big','small','become','create',
'strong','type','understand','understood','weekly','take','took','suck','tell','talk','ultimate','wrong','year','avoid','upload','stand','upcoming','unblock','underrate','successful','gonna','build','actual','actually','amazing','custom','proper','random','im','maximize','minimize','outcome','recommend','fry','burn','give','havent',
"complete","reject","50","competitive","right","major","reach","20th","21st","pick","much","fast","online","consult","modern","last","break","reason","reality","replace","win","natural","x","west","eliza","load","legendary","video","dirty","chat","issue","final","run","luck","follow","lead","32","believe","gritty","ledengary","cut","west","return","massive"])

stop_words = set(stop_words)
wordnet_lemmatizer = WordNetLemmatizer()

# text = 'apple apples be successes successful succeed successfully one day stopped stops stopping weekly weeks week data science simulate simulation simulates visualization visuals visual, visually!'

def clean_video_title(title, stop_words = stop_words):

    lemma_word = []
    for w in title.lower().split():
        word1 = wordnet_lemmatizer.lemmatize(w.strip(), pos = "n")
        word2 = wordnet_lemmatizer.lemmatize(word1, pos = "v")
        word3 = wordnet_lemmatizer.lemmatize(word2, pos = ("a"))
        word4 = wordnet_lemmatizer.lemmatize(word3, pos = ("r"))
        lemma_word.append(word4)
        filtered_setence = [w for w in lemma_word if w not in stop_words]
    return filtered_setence

# clean_video_title(text)

In [72]:
stop_words

{'1',
 '10',
 '15',
 '1799',
 '2',
 '2020',
 '2021',
 '2022',
 '20th',
 '21st',
 '24',
 '3',
 '32',
 '34',
 '3rd',
 '4',
 '44',
 '5',
 '50',
 '6',
 '7',
 '8',
 '9',
 'a',
 'about',
 'above',
 'according',
 'actual',
 'actually',
 'advance',
 'advanced',
 'after',
 'again',
 'against',
 'ain',
 'air',
 'alex',
 'all',
 'almost',
 'also',
 'am',
 'amazing',
 'an',
 'and',
 'any',
 'are',
 'area',
 'aren',
 "aren't",
 'as',
 'ask',
 'at',
 'avoid',
 'back',
 'bad',
 'base',
 'based',
 'be',
 'beautiful',
 'because',
 'become',
 'been',
 'before',
 'begin',
 'beginner',
 'being',
 'believe',
 'below',
 'best',
 'better',
 'between',
 'bi-weekly',
 'big',
 'blow',
 'both',
 'boy',
 'boys',
 'break',
 'build',
 'burn',
 'but',
 'buy',
 'by',
 'can',
 'cant',
 'change',
 'chat',
 'choice',
 'choose',
 'close',
 'come',
 'competitive',
 'complete',
 'connect',
 'consult',
 'content',
 'couldn',
 "couldn't",
 'course',
 'crack',
 'create',
 'custom',
 'cut',
 'd',
 'despite',
 'did',
 'didn',
 "didn't",
 'difference',
 'different',
 'dirty',
 'disappointment',
 'dislike',
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'dont',
 'donts',
 'door',
 'down',
 'during',
 'each',
 'easily',
 'easy',
 'effective',
 'eliza',
 'end',
 'episode',
 'ever',
 'every',
 'everyone',
 'everything',
 'face',
 'fast',
 'favorite',
 'feel',
 'few',
 'final',
 'find',
 'first',
 'five',
 'follow',
 'for',
 'free',
 'frequently',
 'fresh',
 'freshers',
 'from',
 'fry',
 'full',
 'funny',
 'further',
 'get',
 'give',
 'go',
 'gonna',
 'good',
 'great',
 'gritty',
 'guy',
 'had',
 'hadn',
 "hadn't",
 'halo',
 'hard',
 'has',
 'hasn',
 "hasn't",
 'hate',
 'have',
 'haven',
 "haven't",
 'havent',
 'having',
 'he',
 'help',
 'her',
 'here',
 'hero',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'hour',
 'how',
 'i',
 'idea',
 'if',
 'im',
 'important',
 'improve',
 'in',
 'instal',
 'install',
 'intermediate',
 'into',
 'intuition',
 'is',
 'isn',
 "isn't",
 'issue',
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'knew',
 'know',
 'knows',
 'land',
 'last',
 'late',
 'lazy',
 'lead',
 'learn',
 'ledengary',
 'legendary',
 'level',
 'like',
 'live',
 'll',
 'load',
 'love',
 'luck',
 'm',
 'ma',
 'major',
 'make',
 'massive',
 'matter',
 'maximize',
 'me',
 'measure',
 'mightn',
 "mightn't",
 'mind',
 'minimize',
 'minute',
 'modern',
 'month',
 'monthly',
 'more',
 'most',
 'much',
 'must',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'natural',
 'near',
 'need',
 'needn',
 "needn't",
 'needs',
 'new',
 'next',
 'no',
 'no info',
 'non',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'one',
 'online',
 'only',
 'or',
 'other',
 'others',
 'our',
 'ours',
 'ourselves',
 'out',
 'outcome',
 'over',
 'own',
 'p0',
 'p1',
 'p2',
 'p3',
 'p4',
 'p5',
 'p6',
 'page',
 'pages',
 'part',
 'parts',
 'people',
 'per',
 'person',
 'personal',
 'pick',
 'point',
 'position',
 'previous',
 'pro',
 'proper',
 'random',
 're',
 'reach',
 'real',
 'realistic',
 'reality',
 'realize',
 'really',
 'reason',
 'recommend',
 'reject',
 'replace',
 'return',
 'right',
 'role',
 'run',
 'rural',
 's',
 'same',
 'sane',
 'self',
 'shan',
 "shan't",
 'she',
 "she's",
 'short',
 'shorts',
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'show',
 'shows',
 'simple',
 'single',
 'small',
 'smoothly',
 'so',
 'solve',
 'some',
 'stand',
 'start',
 'stay',
 'step',
 'still',
 'stop',
 'story',
 'strong',
 'sub',
 'succeed',
 'success',
 'successful',
 'successfully',
 'such',
 'suck',
 'summer',
 'sunday',
 'super',
 'swing',
 't',
 'take',
 'talk',
 'tell',
 'temp',
 'ten',
 'than',
 'thank',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'thing',
 'this',
 'those',
 'through',
 'time',
 'tip',
 'to',
 'too',
 'took',
 'top',
 'topic',
 'topics',
 'truth',
 'try',
 'two',
 'type',
 'ultimate',
 'unblock',
 'under',
 'underrate',
 'understand',
 'understood',
 'unique',
 'until',
 'up',
 'upcoming',
 'update',
 'updates',
 'upload',
 'use',
 'used',
 'useful',
 'uses',
 'using',
 'v',
 'value',
 've',
 'veronica',
 'very',
 'video',
 'void',
 'vs',
 'vs.',
 'w',
 'wali',
 'wannable',
 'want',
 'was',
 'wasn',
 "wasn't",
 'watch',
 'way',
 'we',
 'website',
 'week',
 'weekly',
 'went',
 'were',
 'weren',
 "weren't",
 'west',
 'what',
 "what's up",
 "what's,",
 'whats',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'wild',
 'will',
 'win',
 'winning',
 'wins',
 'winter',
 'wish',
 'with',
 'without',
 'wohhoo',
 'won',
 "won't",
 'word',
 'work',
 'worker',
 'worksdont',
 'world',
 'worse',
 'worst',
 'worth',
 'woudnt',
 'would',
 'wouldn',
 "wouldn't",
 'write',
 'wrong',
 'x',
 'y',
 'yealy',
 'year',
 'yes',
 'yet',
 'york',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'youll',
 'your',
 'yours',
 'yourself',
 'yourselves',
 'youtube',
 'zero',
 'zhai'}

In [73]:
assert "stop" in stop_words

In [74]:
def video_data_processing(video, stop_words = stop_words):
    numeric_cols = ['viewCount','likeCount','favoriteCount','commentCount']
    video[numeric_cols] = video[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)
    video['tags_count'] = video['tags'].apply(lambda x : 0 if x is None else len(x))
    video['publishedAt'] = video['publishedAt'].apply(lambda x: parser.parse(x)) 
    video['publishDay'] = video['publishedAt'].apply(lambda x: x.strftime("%a")) 
    video['durationinSecs'] = video['duration'].apply(lambda x: isodate.parse_duration(x))
    video['durationinSecs'] = video['durationinSecs'].astype('timedelta64[s]')
    video['insert_date'] = pd.to_datetime("today").date()
    video['title_2'] = video['title'].apply(lambda x : re.sub(r'[^\w\s]','', x))
    video['title_word'] = video['title_2'].apply(lambda x : clean_video_title(x, stop_words=stop_words) )
    video = video.drop(columns =['duration'], axis = 1 )
    return video

In [75]:
def playlist_data_processing(playlist):
    playlist['insert_date'] = pd.to_datetime("today").date()
    return playlist

In [76]:
# Data Processing
playlist = playlist_data_processing(get_playlist_info(youtube))
playlist

                  playlist_id     video_id insert_date
0    UUAWsBMQY4KSuOuGODki-l7A  9TD-AYKnw7E  2022-05-03
1    UUAWsBMQY4KSuOuGODki-l7A  7fI3eA8VHbk  2022-05-03
2    UUAWsBMQY4KSuOuGODki-l7A  W_NBnkLLh7M  2022-05-03
3    UUAWsBMQY4KSuOuGODki-l7A  e-EL-6Vnkbg  2022-05-03
4    UUAWsBMQY4KSuOuGODki-l7A  1tfGvvVOF6Q  2022-05-03
..                        ...          ...         ...
180  UUY8mzqqGwl5_bTpBY9qLMAA  RboQBZvZCh0  2022-05-03
181  UUY8mzqqGwl5_bTpBY9qLMAA  7F9tBwTUSeY  2022-05-03
182  UUY8mzqqGwl5_bTpBY9qLMAA  fib6izcFxv0  2022-05-03
183  UUY8mzqqGwl5_bTpBY9qLMAA  riTtDkhQr_A  2022-05-03
184  UUY8mzqqGwl5_bTpBY9qLMAA  LYtTBoL_lK8  2022-05-03

[977 rows x 3 columns]

In [77]:
channel = channel_data_processing(get_channel_info(youtube))
channel

,channel_id,channel_title,channel_publish_at,channel_description,channel_country,channel_view_count,channel_subscriber_count,channel_video_count,channel_playlist_id,channel_category,insert_date
0,UCY8mzqqGwl5_bTpBY9qLMAA,Andreas Kretz,2017-04-18,"I help you get into data engineering, the plum...",DE,746257,28300,185,UUY8mzqqGwl5_bTpBY9qLMAA,DE,2022-05-03
1,UC7cs8q-gJRlGwj4A8OmCmXg,Alex The Analyst,2020-01-08,My name is Alex Freberg and on this channel I ...,US,8145641,208000,142,UU7cs8q-gJRlGwj4A8OmCmXg,DS_DA,2022-05-03
2,UCAWsBMQY4KSuOuGODki-l7A,Data Interview Pro,2020-09-09,WELCOME! Iâ€™M EMMA DING\n\nI'm a Data Scientist...,CA,937378,26500,62,UUAWsBMQY4KSuOuGODki-l7A,DS_DA,2022-05-03
3,UCmLGJ3VYBcfRaWbP6JLJcpA,Seattle Data Guy,2017-01-27,Welcome to my channel.\n\nI make videos on dat...,US,1284513,28000,128,UUmLGJ3VYBcfRaWbP6JLJcpA,DE,2022-05-03
4,UCJQJAI7IjbLcpsjWdSzYz0Q,Thu Vu data analytics,2021-04-30,Hi there! Thanks for checking out my channel. ...,US,496223,25300,34,UUJQJAI7IjbLcpsjWdSzYz0Q,DS_DA,2022-05-03
5,UCAxnMry1lETl47xQWABvH7g,Karolina Sowinska,2013-09-07,"If you're curious about data engineering, mach...",GB,1191908,38300,59,UUAxnMry1lETl47xQWABvH7g,DE,2022-05-03
6,UCAq9f7jFEA7Mtl3qOZy2h1A,Data with Zach,2013-01-25,Hey I'm Zach Wilson! \n\nI currently work at A...,US,43497,6070,8,UUAq9f7jFEA7Mtl3qOZy2h1A,DE,2022-05-03
7,UC2UXDak6o7rBm23k3Vv5dww,Tina Huang,2013-08-28,Hi! My name is Tina and I'm a data scientist a...,US,11367693,306000,96,UU2UXDak6o7rBm23k3Vv5dww,DS_DA,2022-05-03
8,UCLLw7jmFsvfIVaUFsLs8mlQ,Luke Barousse,2020-08-03,"What's up, Data Nerds! I'm Luke, a data analys...",US,7999203,162000,74,UULLw7jmFsvfIVaUFsLs8mlQ,DS_DA,2022-05-03
9,UCBGcs9XTL5U34oaSn_AsHqw,E-Learning Bridge,2020-04-23,"Shashank Mishra : Data Engineer - ||| , Ex-Ama...",IN,2708335,60800,189,UUBGcs9XTL5U34oaSn_AsHqw,DE,2022-05-03

In [78]:
video = video_data_processing(get_video_info(youtube))
video

,video_id,publishedAt,title,description,tags,viewCount,likeCount,favoriteCount,commentCount,definition,caption,tags_count,publishDay,durationinSecs,insert_date,title_2,title_word
0,oJDlPIVJZbw,2022-04-30 14:00:19+00:00,stop being lazy.,Start building your ideal daily routine! The f...,None,24371,1855,0,117,hd,false,0,Sat,723.0,2022-05-03,stop being lazy,[]
1,0QFh1expGNs,2022-04-22 14:30:00+00:00,Career advice for your 20s and 30s,Sign up or learn more about SharpestMinds here...,None,53508,3027,0,252,hd,false,0,Fri,729.0,2022-05-03,Career advice for your 20s and 30s,"[career, advice, 20, 30]"
2,Dw_ko_L232M,2022-04-15 14:30:01+00:00,Books that will pay off HUGE dividends in your...,The first 1000 visitors to https://www.shortfo...,None,38254,2565,0,164,hd,false,0,Fri,860.0,2022-05-03,Books that will pay off HUGE dividends in your...,"[book, pay, huge, dividend, 20, 30]"
3,_xf1TMs0ysk,2022-04-09 17:30:06+00:00,5 Unique Python Projects (beginner to intermed...,The projects cover a variety of different topi...,None,47993,2786,0,98,hd,false,0,Sat,1014.0,2022-05-03,5 Unique Python Projects beginner to intermediate,"[python, project]"
4,uQmjcGGCPGA,2022-04-05 16:00:25+00:00,How to save a half-wasted dayðŸ¥²,Head to http://brilliant.org/TinaHuang/ to get...,None,38875,2750,0,176,hd,false,0,Tue,520.0,2022-05-03,How to save a halfwasted day,"[save, halfwasted, day]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,VrJYOItZYLQ,2018-06-04 03:11:15+00:00,Introduction To Time Series In R: The Decompos...,When developing time series models it can be h...,"[data science, r programming, programming, ana...",13559,144,0,2,hd,false,7,Mon,453.0,2022-05-03,Introduction To Time Series In R The Decompose...,"[introduction, series, r, decompose, function]"
973,1NCVy8Tylx0,2018-05-29 05:15:48+00:00,What Are Confounding Variables and How Do You ...,A variable that is not considered but plays a ...,"[math, epidemiology, statistics, analytics, al...",1558,13,0,4,hd,false,9,Tue,674.0,2022-05-03,What Are Confounding Variables and How Do You ...,"[confound, variable, standardize, population]"
974,KgHtG0OI1fg,2018-05-28 23:07:01+00:00,Introduction To Time Series In R: Measuring Pr...,When developing predictive models and algorith...,"[Data science, R programming, Introduction, Le...",6824,57,0,4,hd,false,8,Mon,697.0,2022-05-03,Introduction To Time Series In R Measuring Pre...,"[introduction, series, r, predictive, model, q..."
975,8cKeAH2aGVI,2018-05-24 14:34:40+00:00,Introduction To Time Series In R Basic Models,In this video we will be discussing some of th...,"[data science, r programming, Modeling, foreca...",9305,107,0,3,hd,false,8,Thu,631.0,2022-05-03,Introduction To Time Series In R Basic Models,"[introduction, series, r, basic, model]"
976,uW3PQmzvUcw,2018-05-24 14:08:41+00:00,Introduction To Time Series In R,What is a time series in R and how do you crea...,"[Statistics, R Programming, Data science, Mode...",51979,388,0,20,hd,false,5,Thu,476.0,2022-05-03,Introduction To Time Series In R,"[introduction, series, r]"

In [79]:
title_key_words = video[['video_id','title_word']].explode('title_word').drop_duplicates()
title_key_words = title_key_words.merge(playlist, how = 'inner', on = ['video_id'])
title_key_words = title_key_words.merge(channel, how = 'inner',left_on= ['playlist_id'], right_on = ['channel_playlist_id'])
title_key_words = title_key_words[["channel_id","channel_title","channel_category","video_id","title_word"]]
title_key_words['insert_at'] = pd.to_datetime('today').date()
title_key_words

,channel_id,channel_title,channel_category,video_id,title_word,insert_at
0,UC2UXDak6o7rBm23k3Vv5dww,Tina Huang,DS_DA,oJDlPIVJZbw,NaN,2022-05-03
1,UC2UXDak6o7rBm23k3Vv5dww,Tina Huang,DS_DA,0QFh1expGNs,career,2022-05-03
2,UC2UXDak6o7rBm23k3Vv5dww,Tina Huang,DS_DA,0QFh1expGNs,advice,2022-05-03
3,UC2UXDak6o7rBm23k3Vv5dww,Tina Huang,DS_DA,0QFh1expGNs,20,2022-05-03
4,UC2UXDak6o7rBm23k3Vv5dww,Tina Huang,DS_DA,0QFh1expGNs,30,2022-05-03
...,...,...,...,...,...,...
4861,UCmLGJ3VYBcfRaWbP6JLJcpA,Seattle Data Guy,DE,8cKeAH2aGVI,basic,2022-05-03
4862,UCmLGJ3VYBcfRaWbP6JLJcpA,Seattle Data Guy,DE,8cKeAH2aGVI,model,2022-05-03
4863,UCmLGJ3VYBcfRaWbP6JLJcpA,Seattle Data Guy,DE,uW3PQmzvUcw,introduction,2022-05-03
4864,UCmLGJ3VYBcfRaWbP6JLJcpA,Seattle Data Guy,DE,uW3PQmzvUcw,series,2022-05-03
4865,UCmLGJ3VYBcfRaWbP6JLJcpA,Seattle Data Guy,DE,uW3PQmzvUcw,r,2022-05-03

In [80]:
video_key_words = video[['video_id','title_word']].explode('title_word').fillna('no info').drop_duplicates()
video_key_words['insert_at'] = pd.to_datetime('today').date()
video_key_words = video_key_words.reset_index(drop=True)
video_key_words.count()

video_id      4866
title_word    4866
insert_at     4866
dtype: int64

In [81]:
video_key_words.groupby(['title_word']).agg(total = ('title_word','count')).sort_values(['total'], ascending = False)[:50]

             total
title_word
data           536
engineer       236
science        161
interview      133
analyst        129
job             90
sql             66
scientist       63
python          49
project         47
tutorial        42
skill           37
experience      36
question        34
google          27
software        27
company         26
analytics       26
salary          25
career          24
machine         23
study           23
faang           22
review          21
tableau         20
day             20
analysis        20
explain         19
spark           18
cod             18
case            18
resume          17
life            17
certificate     17
college         17
apache          16
mistake         16
aws             16
lpa             16
portfolio       16
tech            15
offer           15
amazon          15
test            15
internship      14
startup         14
process         14
roadmap         14
student         13
product         13

In [82]:
tags = video[['video_id','tags']].explode('tags').fillna('No Info')
tags['insert_at'] = pd.to_datetime('today').date()
tags = tags.reset_index(drop=True)
tags

          video_id                    tags   insert_at
0      oJDlPIVJZbw                 No Info  2022-05-03
1      0QFh1expGNs                 No Info  2022-05-03
2      Dw_ko_L232M                 No Info  2022-05-03
3      _xf1TMs0ysk                 No Info  2022-05-03
4      uQmjcGGCPGA                 No Info  2022-05-03
...            ...                     ...         ...
15546  uW3PQmzvUcw              Statistics  2022-05-03
15547  uW3PQmzvUcw           R Programming  2022-05-03
15548  uW3PQmzvUcw            Data science  2022-05-03
15549  uW3PQmzvUcw                Modeling  2022-05-03
15550  uW3PQmzvUcw  Predictive Forecasting  2022-05-03

[15551 rows x 3 columns]

In [83]:
assert sum(video['tags_count']) == tags[tags['tags']!='No Info']['tags'].count()

In [84]:
video = video.drop(['tags','title_word','title_2'], axis = 1)
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_id        977 non-null    object
 1   publishedAt     977 non-null    datetime64[ns, tzutc()]
 2   title           977 non-null    object
 3   description     977 non-null    object
 4   viewCount       977 non-null    int64
 5   likeCount       977 non-null    int64
 6   favoriteCount   977 non-null    int64
 7   commentCount    977 non-null    int64
 8   definition      977 non-null    object
 9   caption         977 non-null    object
 10  tags_count      977 non-null    int64
 11  publishDay      977 non-null    object
 12  durationinSecs  977 non-null    float64
 13  insert_date     977 non-null    object
dtypes: datetime64[ns, tzutc()](1), float64(1), int64(5), object(7)
memory usage: 107.0+ KB

In [85]:
tags.dtypes

video_id     object
tags         object
insert_at    object
dtype: object

In [86]:
playlist.groupby(['playlist_id']).agg(total = ('video_id','count'))

                          total
playlist_id
UU2UXDak6o7rBm23k3Vv5dww     96
UU7cs8q-gJRlGwj4A8OmCmXg    142
UUAWsBMQY4KSuOuGODki-l7A     62
UUAq9f7jFEA7Mtl3qOZy2h1A      8
UUAxnMry1lETl47xQWABvH7g     59
UUBGcs9XTL5U34oaSn_AsHqw    189
UUJQJAI7IjbLcpsjWdSzYz0Q     34
UULLw7jmFsvfIVaUFsLs8mlQ     74
UUY8mzqqGwl5_bTpBY9qLMAA    185
UUmLGJ3VYBcfRaWbP6JLJcpA    128

In [87]:
video.isnull().any()

video_id          False
publishedAt       False
title             False
description       False
viewCount         False
likeCount         False
favoriteCount     False
commentCount      False
definition        False
caption           False
tags_count        False
publishDay        False
durationinSecs    False
insert_date       False
dtype: bool

In [88]:
video.dtypes

video_id                           object
publishedAt       datetime64[ns, tzutc()]
title                              object
description                        object
viewCount                           int64
likeCount                           int64
favoriteCount                       int64
commentCount                        int64
definition                         object
caption                            object
tags_count                          int64
publishDay                         object
durationinSecs                    float64
insert_date                        object
dtype: object

In [89]:
host = 'youtubedb.c0rhkwuqbdtc.us-west-2.rds.amazonaws.com'
port = 3306
user = 'admin'
password = 'Coco0326happy!12'
database = 'youtube'

In [90]:
import pymysql
from pymysql.constants import CLIENT
from sqlalchemy import create_engine

In [91]:
db = pymysql.connect(host = host, user = user, password=password, port = port, database= database, client_flag =  CLIENT.MULTI_STATEMENTS, autocommit = True )
cursor = db.cursor()
cursor
cursor.execute("select version()")

1

In [92]:
cursor.execute("show databases")
# for database in cursor:
#     print(database)
cursor.fetchall()

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',),
 ('youtube',),
 ('youtube_analysis',))

In [93]:
try:
    cursor.execute("USE {}".format(database))
except pymysql.Error as err:
    print("Database {} does not exists.".format(database))

In [94]:
try: 

  cursor.execute('''
    DROP TABLE IF EXISTS channel;
    DROP TABLE IF EXISTS playlist;
    DROP TABLE IF EXISTS video;
    DROP TABLE IF EXISTS tag;
    DROP TABLE IF EXISTS video_key_word;
    DROP TABLE IF EXISTS clean_video_key_word;
    # DROP TABLE IF EXISTS tmp_playlist;
    # DROP TABLE IF EXISTS tmp_video;
    # DROP TABLE IF EXISTS tmp_channel;

  '''

)
except pymysql.Error as err:
  print(err)

In [95]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS channel(
      channel_id  varchar(255) PRIMARY KEY,
      channel_title text NOT NULL,
      channel_publish_at text,
      channel_description text,
      channel_country varchar(3),
      channel_view_count INT,
      channel_subscriber_count INT,
      channel_video_count INT,
      channel_playlist_id text,
      channel_category text,
      insert_date date
      );

  ''')
except pymysql.Error as err:
  print(err)

In [96]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS playlist(
      playlist_id varchar(255) not null,
      video_id varchar(255) not null,
      primary key (playlist_id, video_id),
      insert_date date
      );

  ''')
except pymysql.Error as err:
  print(err)

In [97]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS video(
      video_id varchar(255) primary key,
      publishedAt datetime,
      title text,
      description text,
      viewCount int,
      likeCount int,
      favoriteCount int, 
      commentCount int,
      definition text,
      caption text,
      tags_count int,
      publishDay varchar(3),
      durationinSecs float,
      insert_date date
      );

  ''')
except pymysql.Error as err:
  print(err)

In [98]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS video_key_word(
      video_id varchar(255),
      title_word varchar(255),
      insert_at date,
      primary key (video_id, title_word)
      );

  ''')
except pymysql.Error as err:
  print(err)

In [99]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS tag(
      video_id varchar(255),
      tags varchar(255),
      insert_at date,
      primary key (video_id, tags)
      );

  ''')
except pymysql.Error as err:
  print(err)

In [100]:
title_key_words.dtypes

channel_id          object
channel_title       object
channel_category    object
video_id            object
title_word          object
insert_at           object
dtype: object

In [101]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS clean_video_key_word(
      channel_id  varchar(255),
      channel_title  varchar(255),
      channel_category varchar(255),
      video_id varchar(255),
      title_word varchar(255),
      insert_at date,
      primary key (channel_id, video_id,title_word)
      );

  ''')
except pymysql.Error as err:
  print(err)

In [102]:
cursor.execute("show tables")
cursor.fetchall()

(('channel',),
 ('clean_video_key_word',),
 ('playlist',),
 ('tag',),
 ('video',),
 ('video_key_word',))

In [103]:
engine = create_engine('mysql+pymysql://{user}:{password}@{host}:3306/{database}'.format(user = user, password = password, host = host, database = database))

engine.connect().execute(
    """

    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_channel AS SELECT * FROM channel LIMIT 0;
    """)
channel.to_sql("tmp_channel", con = engine, if_exists='append', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO channel 
    SELECT *
    FROM tmp_channel
    ON DUPLICATE KEY 
    update channel_description = tmp_channel.channel_description,
    channel_country = tmp_channel.channel_country,
    channel_view_count = tmp_channel.channel_view_count,
    channel_subscriber_count = tmp_channel.channel_subscriber_count,
    channel_video_count = tmp_channel.channel_video_count,
    channel_playlist_id = tmp_channel.channel_playlist_id,
    channel_category = tmp_channel.channel_category,
    insert_date  = tmp_channel.insert_date;
    
    """)

cursor.execute(
    """
   DROP TABLE tmp_channel;   
    """)

db.commit()

In [104]:
engine.connect().execute(
    """
    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_playlist AS SELECT * FROM playlist LIMIT 0;
    """)
playlist.to_sql("tmp_playlist", con = engine, if_exists='append', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO playlist 
    SELECT *
    FROM tmp_playlist 
    ON DUPLICATE KEY 
    update playlist_id  = tmp_playlist.playlist_id ,
    video_id  = tmp_playlist.video_id,
    insert_date  = tmp_playlist.insert_date;
    
    """)
cursor.execute("""
    drop table tmp_playlist;""")
db.commit()

In [105]:
engine.connect().execute(
    """
    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_video AS SELECT * FROM video LIMIT 0;
    """)
db.commit()
video.to_sql("tmp_video", con = engine, if_exists='append', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO video 
    SELECT *
    FROM tmp_video 
    ON DUPLICATE KEY 
    update description  = tmp_video.description ,
     viewCount  = tmp_video.viewCount,
     likeCount  = tmp_video.likeCount,
     favoriteCount   = tmp_video.favoriteCount ,
     commentCount   = tmp_video.commentCount ,
     insert_date    = tmp_video.insert_date ;

    """)

cursor.execute("""  drop table tmp_video;
""")
db.commit()

In [106]:

engine.connect().execute(
    """
    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_tag AS SELECT * FROM tag LIMIT 0;
    """)
tags.to_sql("tmp_tag", con = engine, if_exists='replace', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO tag
    SELECT *
    FROM tmp_tag
    ON DUPLICATE KEY    
    update
    insert_at   = tmp_tag.insert_at ;

    """)

cursor.execute("""  drop table tmp_tag;
""")
db.commit()

In [107]:
video_key_words.count()

video_id      4866
title_word    4866
insert_at     4866
dtype: int64

In [108]:
# test = video_key_words.drop_duplicates())
# test.count()

In [109]:

engine.connect().execute(
    """
    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_video_key_word AS SELECT * FROM video_key_word LIMIT 0;
    """)
video_key_words.to_sql("tmp_video_key_word", con = engine, if_exists='replace', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO video_key_word
    SELECT *
    FROM tmp_video_key_word
    ON DUPLICATE KEY    
    update
    insert_at   = tmp_video_key_word.insert_at ;

    """)

cursor.execute("""  drop table tmp_video_key_word;
""")
db.commit()

In [110]:
engine.connect().execute(
    """
    INSERT INTO clean_video_key_word
    SELECT channel_id,channel_title, channel_category, video_key_word.video_id, video_key_word.title_word, video_key_word.insert_at
    FROM channel join playlist on channel.channel_playlist_id = playlist.playlist_id
    join video_key_word on playlist.video_id = video_key_word.video_id
    ON DUPLICATE KEY    
    update
    insert_at  = video_key_word.insert_at ;

    """)

db.commit()

In [111]:
engine.connect().close()