In [1]:
# !pip install isodate
import os
import googleapiclient.discovery
import googleapiclient.errors
import json
import pandas as pd
import numpy as np
import parser
import isodate
from dateutil import parser
import datetime as dt

In [2]:
api_key = 'AIzaSyBoO6MSKPQ9baLdYL_CXnfHygBy_jf0nTg'
api_service_name = "youtube"
api_version = "v3"


#a list of data channels
data_coding_channel = {
# DS/DA
'Tina_Huang' : 'UC2UXDak6o7rBm23k3Vv5dww',
'Luke Barousse' : 'UCLLw7jmFsvfIVaUFsLs8mlQ',
'Thu Vu data analytics' : 'UCJQJAI7IjbLcpsjWdSzYz0Q',
'Alex The Analyst' : 'UC7cs8q-gJRlGwj4A8OmCmXg',
'Data Interview Pro' : 'UCAWsBMQY4KSuOuGODki-l7A',
# DE
'Andreas Kretz' : 'UCY8mzqqGwl5_bTpBY9qLMAA',
'Data with Zach' : 'UCAq9f7jFEA7Mtl3qOZy2h1A',
'Karolina Sowinska' : 'UCAxnMry1lETl47xQWABvH7g',
'E-Learning Bridge' : 'UCBGcs9XTL5U34oaSn_AsHqw',
'Seattle Data Guy' : 'UCmLGJ3VYBcfRaWbP6JLJcpA'}

youtube = googleapiclient.discovery.build(
    api_service_name, api_version, developerKey=api_key )

# print(json.dumps(response,indent=5))

In [3]:
def get_channel_info(youtube):
    request = youtube.channels().list(
    part="snippet,contentDetails,statistics",
    id=','.join(data_coding_channel[channel] for channel in data_coding_channel))
    response = request.execute()

    channel_data = []
    for channel in response['items']:
        channel_id = channel['id']
        channel_title = channel['snippet']['title']
        channel_description = channel['snippet']['description']
        channel_publish_at = channel['snippet']['publishedAt']
        channel_country = channel['snippet']['country']
        channel_view_count = channel['statistics']['viewCount']
        channel_subscriber_count = channel['statistics']['subscriberCount']
        channel_video_count = channel['statistics']['videoCount']
        channel_playlist_id = channel['contentDetails']['relatedPlaylists']['uploads']
        channel_element = {
            "channel_id" : channel_id,
            "channel_title" : channel_title,
            "channel_publish_at" : channel_publish_at,
            "channel_description" : channel_description,
            "channel_country" : channel_country, 
            "channel_view_count" : channel_view_count,
            "channel_subscriber_count" : channel_subscriber_count,
            "channel_video_count" : channel_video_count,
            'channel_playlist_id' :  channel_playlist_id }
        channel_data.append(channel_element)
    return pd.DataFrame(channel_data)

# get_channel_info(youtube)

In [ ]:
# def get_playlist_data(youtube):
#     playlist_data = []
#     playlist_ids = get_channel_info(youtube)['channel_playlist_id'].tolist()
#     for playlist_id in playlist_ids:
#         request = youtube.playlistItems().list(
#         part="snippet,contentDetails",
#         maxResults = 50,
#         playlistId= playlist_id)
#         response = request.execute()
        
#         for playlist in response['items']:
#             playlist_id = playlist["snippet"]['playlistId']
#             video_id = playlist['contentDetails']["videoId"]
#             playlist_data.append([playlist_id, video_id])
    
#     return pd.DataFrame(playlist_data,columns= ['playlist_id','video_id'])

In [4]:
def get_playlist_info(youtube):
    playlist_df = pd.DataFrame()
    def get_individual_playlist_data(youtube, playlist_id):  
        request = youtube.playlistItems().list(
                            part="snippet,contentDetails",
                            maxResults = 50,
                            playlistId= playlist_id)
        response = request.execute()

        all_playlist_id = []
        all_video_id = []
        for playlist in response['items']:
            all_playlist_id.append(playlist["snippet"]['playlistId'])
            all_video_id.append(playlist['contentDetails']["videoId"])

        next_page_token = response.get('nextPageToken')
        more_pages = True

        while more_pages:
            if next_page_token is None:
                more_pages = False
            else:
                request = youtube.playlistItems().list(
                        part='snippet,contentDetails',
                        playlistId= playlist_id,
                        maxResults = 50,
                        pageToken = next_page_token)
                response = request.execute()

                for playlist in response['items']:
                    all_playlist_id.append(playlist["snippet"]['playlistId'])
                    all_video_id.append(playlist['contentDetails']["videoId"])
            
                next_page_token = response.get('nextPageToken')

        return pd.DataFrame({"playlist_id" : all_playlist_id, 
                            "video_id" : all_video_id})

    for playlist_id in get_channel_info(youtube)['channel_playlist_id'].tolist():
        playlist_df = playlist_df.append(get_individual_playlist_data(youtube, playlist_id))
    return playlist_df


# get_playlist_info(youtube)

In [5]:
def get_video_info(youtube):
    all_video = []
    video_ids = get_playlist_info(youtube)['video_id']
    for video_id in video_ids:
        request = youtube.videos().list(
                part="snippet,contentDetails,statistics",
                id= video_id
            )
        response = request.execute()
        for video in response['items']:
            stats = {'snippet' : ['publishedAt','title','description','tags'],
                    'statistics': ['viewCount','likeCount','favoriteCount','commentCount'],
                    'contentDetails': ['duration','definition','caption']}
            video_detail = {}
            video_detail['video_id'] = video['id']

            for stat in stats:
                for detail in stats[stat]:
                    try: 
                        video_detail[detail] = video[stat][detail]
                    except:
                        video_detail[detail] = None
            all_video.append(video_detail)

    return pd.DataFrame(all_video)


# get_video_info(youtube)

In [6]:
def channel_data_processing(channel):
    numeric_cols = ['channel_view_count','channel_subscriber_count','channel_video_count']
    channel[numeric_cols] = channel[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)
    channel['channel_publish_at'] = channel['channel_publish_at'].apply(lambda x: parser.parse(x).date())
    channel['insert_date'] = pd.to_datetime("today").date()
    return channel

In [7]:
def video_data_processing(video):
    numeric_cols = ['viewCount','likeCount','favoriteCount','commentCount']
    video[numeric_cols] = video[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)
    video['tags_count'] = video['tags'].apply(lambda x : 0 if x is None else len(x))
    video['publishedAt'] = video['publishedAt'].apply(lambda x: parser.parse(x)) 
    video['publishDay'] = video['publishedAt'].apply(lambda x: x.strftime("%a")) 
    video['durationinSecs'] = video['duration'].apply(lambda x: isodate.parse_duration(x))
    video['durationinSecs'] = video['durationinSecs'].astype('timedelta64[s]')
    video['insert_date'] = pd.to_datetime("today").date()
    video = video.drop(columns =['duration'], axis = 1 )
    return video

In [8]:
def playlist_data_processing(playlist):
    playlist['insert_date'] = pd.to_datetime("today").date()
    return playlist

In [9]:
# Data Processing
channel = channel_data_processing(get_channel_info(youtube))
video = video_data_processing(get_video_info(youtube))
playlist = playlist_data_processing(get_playlist_info(youtube))
playlist

                 playlist_id     video_id insert_date
0   UUY8mzqqGwl5_bTpBY9qLMAA  Tc1otaqSqAw  2022-05-01
1   UUY8mzqqGwl5_bTpBY9qLMAA  1xE3tWezLR4  2022-05-01
2   UUY8mzqqGwl5_bTpBY9qLMAA  hPagxWDuf-s  2022-05-01
3   UUY8mzqqGwl5_bTpBY9qLMAA  TEg_yqnnN0w  2022-05-01
4   UUY8mzqqGwl5_bTpBY9qLMAA  q5nKg3nn3Zk  2022-05-01
..                       ...          ...         ...
29  UUJQJAI7IjbLcpsjWdSzYz0Q  5LWoJAh-kww  2022-05-01
30  UUJQJAI7IjbLcpsjWdSzYz0Q  _RzoHVWKwq4  2022-05-01
31  UUJQJAI7IjbLcpsjWdSzYz0Q  hWKLO7GtpiU  2022-05-01
32  UUJQJAI7IjbLcpsjWdSzYz0Q  dBZqggW22rs  2022-05-01
33  UUJQJAI7IjbLcpsjWdSzYz0Q  QDdqsFCIxIk  2022-05-01

[975 rows x 3 columns]

In [10]:
tags = video[['video_id','tags']].explode('tags').fillna('No Info')
tags['insert_at'] = pd.to_datetime('today').date()
tags = tags.reset_index(drop=True)
tags

          video_id                                    tags   insert_at
0      6xOdfCBvCTc  service based to product based company  2022-05-01
1      6xOdfCBvCTc            tcs to product based company  2022-05-01
2      6xOdfCBvCTc                         shashank mishra  2022-05-01
3      6xOdfCBvCTc                       e learning bridge  2022-05-01
4      6xOdfCBvCTc                           data engineer  2022-05-01
...            ...                                     ...         ...
15531  O8j7FeA9J_U                                  Sheets  2022-05-01
15532  O8j7FeA9J_U                             Spreadsheet  2022-05-01
15533  O8j7FeA9J_U                               Dashboard  2022-05-01
15534  O8j7FeA9J_U                            data sources  2022-05-01
15535  O8j7FeA9J_U                                     sql  2022-05-01

[15536 rows x 3 columns]

In [11]:
assert sum(video['tags_count']) == tags[tags['tags']!='No Info']['tags'].count()

In [12]:
video = video.drop(['tags'], axis = 1)
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_id        975 non-null    object
 1   publishedAt     975 non-null    datetime64[ns, tzutc()]
 2   title           975 non-null    object
 3   description     975 non-null    object
 4   viewCount       975 non-null    int64
 5   likeCount       975 non-null    int64
 6   favoriteCount   975 non-null    int64
 7   commentCount    975 non-null    int64
 8   definition      975 non-null    object
 9   caption         975 non-null    object
 10  tags_count      975 non-null    int64
 11  publishDay      975 non-null    object
 12  durationinSecs  975 non-null    float64
 13  insert_date     975 non-null    object
dtypes: datetime64[ns, tzutc()](1), float64(1), int64(5), object(7)
memory usage: 106.8+ KB

In [ ]:
tags.dtypes

In [ ]:
playlist.groupby['playlist_id'].agg('video_id','count')

In [13]:
video.isnull().any()

video_id          False
publishedAt       False
title             False
description       False
viewCount         False
likeCount         False
favoriteCount     False
commentCount      False
definition        False
caption           False
tags_count        False
publishDay        False
durationinSecs    False
insert_date       False
dtype: bool

In [14]:
host = 'youtubedb.c0rhkwuqbdtc.us-west-2.rds.amazonaws.com'
port = 3306
user = 'admin'
password = 'Coco0326happy!12'
database = 'youtube'

In [15]:
import pymysql
from pymysql.constants import CLIENT
from sqlalchemy import create_engine

In [16]:
db = pymysql.connect(host = host, user = user, password=password, port = port, database= database, client_flag =  CLIENT.MULTI_STATEMENTS, autocommit = True )
cursor = db.cursor()
cursor
cursor.execute("select version()")

1

In [17]:
cursor.execute("show databases")
# for database in cursor:
#     print(database)
cursor.fetchall()

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('youtube',),
 ('youtube_analysis',))

In [18]:
try:
    cursor.execute("USE {}".format(database))
except pymysql.Error as err:
    print("Database {} does not exists.".format(database))

In [19]:
try: 

  cursor.execute('''
    DROP TABLE IF EXISTS channel;
    DROP TABLE IF EXISTS playlist;
    DROP TABLE IF EXISTS video;
    DROP TABLE IF EXISTS tag;
    # DROP TABLE IF EXISTS tmp_playlist;
    # DROP TABLE IF EXISTS tmp_video;
    # DROP TABLE IF EXISTS tmp_channel;
  '''

)
except pymysql.Error as err:
  print(err)

In [20]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS channel(
      channel_id  varchar(255) PRIMARY KEY,
      channel_title text NOT NULL,
      channel_publish_at text,
      channel_description text,
      channel_country varchar(3),
      channel_view_count INT,
      channel_subscriber_count INT,
      channel_video_count INT,
      channel_playlist_id text,
      insert_date date
      );

  ''')
except pymysql.Error as err:
  print(err)

In [21]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS playlist(
      playlist_id varchar(255) not null,
      video_id varchar(255) not null,
      primary key (playlist_id, video_id),
      insert_date date
      );

  ''')
except pymysql.Error as err:
  print(err)

In [22]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS video(
      video_id varchar(255) primary key,
      publishedAt datetime,
      title text,
      description text,
      viewCount int,
      likeCount int,
      favoriteCount int, 
      commentCount int,
      definition text,
      caption text,
      tags_count int,
      publishDay varchar(3),
      durationinSecs float,
      insert_date date
      );

  ''')
except pymysql.Error as err:
  print(err)

In [31]:
try: 
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS tag(
      video_id varchar(255),
      tags varchar(255),
      insert_at date,
      primary key (video_id, tags)
      );

  ''')
except pymysql.Error as err:
  print(err)

In [24]:
cursor.execute("show tables")
cursor.fetchall()

(('channel',), ('playlist',), ('tag',), ('video',))

In [25]:
engine = create_engine('mysql+pymysql://{user}:{password}@{host}:3306/{database}'.format(user = user, password = password, host = host, database = database))

engine.connect().execute(
    """

    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_channel AS SELECT * FROM channel LIMIT 0;
    """)
channel.to_sql("tmp_channel", con = engine, if_exists='append', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO channel 
    SELECT *
    FROM tmp_channel
    ON DUPLICATE KEY 
    update channel_description = tmp_channel.channel_description,
    channel_country = tmp_channel.channel_country,
    channel_view_count = tmp_channel.channel_view_count,
    channel_subscriber_count = tmp_channel.channel_subscriber_count,
    channel_video_count = tmp_channel.channel_video_count,
    channel_playlist_id = tmp_channel.channel_playlist_id,
    insert_date  = tmp_channel.insert_date;
    
    """)

cursor.execute(
    """
   DROP TABLE tmp_channel;   
    """)

db.commit()

In [26]:
engine.connect().execute(
    """
    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_playlist AS SELECT * FROM playlist LIMIT 0;
    """)
playlist.to_sql("tmp_playlist", con = engine, if_exists='append', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO playlist 
    SELECT *
    FROM tmp_playlist 
    ON DUPLICATE KEY 
    update playlist_id  = tmp_playlist.playlist_id ,
    video_id  = tmp_playlist.video_id,
    insert_date  = tmp_playlist.insert_date;
    
    """)
cursor.execute("""
    drop table tmp_playlist;""")
db.commit()

In [27]:
engine.connect().execute(
    """
    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_video AS SELECT * FROM video LIMIT 0;
    """)
db.commit()
video.to_sql("tmp_video", con = engine, if_exists='append', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO video 
    SELECT *
    FROM tmp_video 
    ON DUPLICATE KEY 
    update description  = tmp_video.description ,
     viewCount  = tmp_video.viewCount,
     likeCount  = tmp_video.likeCount,
     favoriteCount   = tmp_video.favoriteCount ,
     commentCount   = tmp_video.commentCount ,
     insert_date    = tmp_video.insert_date ;

    """)

cursor.execute("""  drop table tmp_video;
""")
db.commit()

In [38]:

engine.connect().execute(
    """
    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_tag AS SELECT * FROM tag LIMIT 0;
    """)
tags.to_sql("tmp_tag", con = engine, if_exists='replace', index = False)
    #Moving data from temp table to production table
engine.connect().execute(
    """
    INSERT INTO tag
    SELECT *
    FROM tmp_tag
    ON DUPLICATE KEY    
    update
    insert_at   = tmp_tag.insert_at ;

    """)

cursor.execute("""  drop table tmp_tag;
""")
db.commit()

In [39]:
engine.connect().close()